.container{
    display: grid;
    grid-template-rows: 300px;
    background-color: rgb(255, 136, 0);
}
h1{
    color: white;
    margin: 20px 0 0 40px;
    font-size: 2em;
}
.bottom_half{
    display: flex;
    background-color: white;
    flex-direction: column;
    flex-direction: center;
    height: 300px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    justify-content: center;
    align-items: center;
}
#main_header{
    font-size: 2em;
    color: black;
    padding-bottom: 20px;
}
#sign_in_button{
    background-color: rgb(255, 136, 0);
    height: 50px;
    width: 350px;
    text-align: center;
    border-radius: 25px;
    line-height: 50px;
    white-space: nowrap;
}
#sign_in_button:hover{
    background-color: rgb(132, 70, 0);
}
#sign_in{
    color:black;
    text-decoration: none;
}
#log_in_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
#google_button,#apple_button{
    background: black;
    height: 50px;
    width: 150px;
    margin-top: 5px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}
#google, #Apple{
    color:white;
    text-decoration: none;
}
#last_line{
    color: grey;
}


